<!-- Yessica Garrido -->
<div class="contact">
    <h1>contact</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequatur aliquam dolores illum
        saepe eos nobis sapiente, sint corrupti amet consequuntur officia, facilis et deserunt quasi vero, adipisci
        commodi quas!</p>

    <div class="container" style="width: 800px;">
        <div class="card p-4">
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Your messenge</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Please enter your messenge here"></textarea>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>