<!-- Santiago -->
<!-- your html code here -->
<div class="row justify-content-center d-flex p-2 my-5">
    <div class="col-8 d-block align-items-top w-50">
        <div class="d-flex fs-4">
            <h2>The First Heading</h2>
            <h2 class="ms-2 text-secondary">Will Catch Your Eye</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ea, officia molestias quas totam incidunt quae voluptate
            alias voluptatibus rerum aliquid consectetur perferendis
            nisi doloremque, eaque iste natus ad eum reiciendis.</p>
    </div>
    <div class="col-4 align-items-center w-25">
        <img src="https://m.media-amazon.com/images/I/51L-TAdNtUS.jpg"
            class="rounded-circle h-100 w-75">
    </div>
</div>
