<!-- Santiago -->
<!-- your html code here -->
<div class="container-fluid justify-content-center align-items-center p-4 pe-0">
    <div class="row d-flex h-100">
        <div class="col-1"></div>
        <div class="col-3 align-items-center w-25">
            <img src="https://plus.unsplash.com/premium_photo-1661628680845-39b71e9be303?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29tcHV0ZXIlMjBrZXlib2FyZHxlbnwwfHwwfHx8MA%3D%3D"
                class="imgServices rounded-circle overflow-hidden h-100 w-100">
        </div>
        <div class="col-7 d-block align-items-top justify-content-center ms-0 w-50">
            <div class="d-flex fs-5 w-100">
                <h2>The Second Heading</h2>
                <h2 class="ms-2 text-secondary">Is Pretty Cool Too.</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem pariatur corporis, aspernatur, deserunt
                beatae optio nobis aut repellat, magnam debitis necessitatibus
                ab iusto autem qui accusantium aliquid illum eos minima?</p>
        </div>
    </div>
</div>