<!-- Santiago --> 
<!-- your html code here -->
<div class="row justify-content-center d-flex p-5">
    <div class=" col-6 align-items-center justify-content-center rounded-circle">
        <img src="https://as2.ftcdn.net/jpg/02/29/93/09/1000_F_229930988_QTS8uCfNM5f7mBOooq6YYvy5LxER8M9P.jpg"
            class="rounded-circle h-100 w-100">
    </div>
    <div class="col-6 d-block align-items-top justify-content-center ms-0 ">
        <div class="d-flex">
            <h2>The Second Heading</h2>
            <h2 class="ms-2 text-secondary">Is Pretty Cool Too.</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Exercitationem pariatur corporis, aspernatur, deserunt 
            beatae optio nobis aut repellat, magnam debitis necessitatibus 
            ab iusto autem qui accusantium aliquid illum eos minima?</p>
    </div>
</div>